<section id="feature-rundown" class="bg-light mb-3">
    <div class="container pt-5 pb-5 ">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto mt-5 mb-5 text-center">
                <h3 class="text-black-70 pb-3">Сломалось авто?</h3>
                <h3>Мы поможем! Наши менеджеры подберут для вас лучший сервис в кратчайшие сроки.</h3>
                <h6 class="text-black-40 text-uppercase">Как это работает:</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <span class="step-icon">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </span>
                <p class="pt-3 mb-0">
                    <strong class="text-info">шаг 1:</strong>
                </p>
                <p>Вы рассказываете нам о проблеме</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <span class="step-icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </span>
                <p class="pt-3 mb-0">
                    <strong class="text-info">шаг 2:</strong>
                </p>
                <p>Сотрудники MDM-Group, используя алгоритмы и учитывая особенности вашей ситуации, находят для вас подходящих специалистов. Для вас это абсолютно бесплатно.</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <span class="step-icon">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </span>
                <p class="pt-3 mb-0">
                    <strong class="text-info">шаг 3:</strong>
                </p>
                <p>Специалисты сервиса производят ремонт. Ваша проблема решена!</p>
            </div>
        </div>
    </div>
</section>

@Html.Action("Partners", "Home")